// Comment
@import 'base/*'
@import 'vendor/*'
@import 'helpers/*'
@import 'components/*'
@import 'layout/*'
@import 'pages/*'


*
  border: 1px solid $black

h1
  background: $yellow
  border: 1px solid $black
  color: $black
  max-width: 80%
  padding: 1%
  text-decoration: underline

.about-page
  background: $orange
