// Comment
@import 'partials/*'
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'

$black: #000
$yellow: #ff0

*
  border: 1px solid $black

h1
  background: $yellow
  border: 1px solid $black
  color: $red
  max-width: 80%
  padding: 1%
  text-decoration: overline
