$black: #000
$yellow: #ff0

*
  border: 1px solid $black

h1
  background: $yellow
  border: 1px solid $black
  color: $black
  margin: 0 auto
  max-width: 80%
  padding: 2%
  text-decoration: underline

// Comment
@import 'partial'
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'
